@import "includes"

/*
 * Map
 */
#map
  width: calc(100% + 30px)
  margin: 0 -15px
  background: $background-color
  height: calc(100vh - 80px)
  display: inline-block
  padding: 15px 30px
  position: relative
  #map-overlay, #map-svg, #map-svg svg, #map-svg + svg
    width: 600px
    height: 675px
    overflow: visible
  #map-svg
    opacity: 0.5 !important
    svg
      path
        stroke: #ededed !important
        fill: transparent !important
        stroke-width: 3px !important
    + svg
      position: absolute
      top: 0
      left: 0
      opacity: 1 !important
      line
        stroke: rgba(0, 0, 0, 0.2)
        //stroke-dasharray: 10, 5
      circle
        fill: rgba(147, 0, 14, 0.5)
        &.small
          fill: $priority-1-color
          &.prio-2
            fill: $priority-2-color
          &.prio-3
            fill: $priority-3-color
        &.prio-2
          fill: rgba(255, 165, 0, 0.5)
        &.prio-3
          fill: rgba(0, 76, 121, 0.51)
        &:last-of-type
          animation: bounce 1s ease-in-out infinite
          animation-delay: .5s
          transform-origin: center center
  #map-overlay
    position: absolute
    left: 50%
    top: 50%
    transform: translateX(-50%) translateY(-50%)
#tooltip
  position: absolute
  z-index: 999
  width: 300px
  height: 100px
  background: black
  opacity: 0
  &.show
    opacity: 1
  p
    color: #FFF

@media (max-width: 991px)
  #map
    position: relative
    height: auto