@import "includes"

/*
 * Pages styling
 */
.container-fluid + .container
  margin-top: 100px
  margin-bottom: 100px
.panel
  background: $white
  width: calc(100% + 30px)
  margin: 0 -15px 30px -15px
  padding: 0 15px
  display: inline-block
  float: left
  +box-shadow(light)
  .heading
    height: 80px
    padding: 20px 15px
    &:after
      content: ""
      width: calc(100% + 60px)
      margin: 20px -30px 0 -30px
      height: 1px
      display: inline-block
      float: left
      background: $border-color
    h2
      line-height: 40px
      margin: 0
      text-transform: uppercase
      color: $accent
      font-weight: 300
  .content
    padding: 0 15px
    margin-bottom: 30px
    width: 100%
    display: inline-block
    float: left
    &.contact
      [class*='col']
        text-align: center
    img
      width: 100%
      height: auto
      display: inline-block
      float: left
    p
      padding: 0 0 15px 0
      font-size: 16px
      line-height: 22px
      &.lead
        font-size: 18px
        font-style: italic
        line-height: 25px
    h3
      line-height: 20px
      margin: 0 0 15px 0
      text-transform: uppercase
      font-weight: 200
      color: $accent
    .avatar + h3, .avatar + h3 + p
      text-align: center
    .avatar
      width: 100px
      height: 100px
      display: inline-block
      margin: 30px 0
      text-align: center
      background-size: cover
      border-radius: 50%
      overflow: hidden
      &.felicia
        background-image: url('../img/felicia.jpeg')
      &.zoe
        background-image: url('../img/zoe.jpeg')
      &.cas
        background-image: url('../img/cas.png')
      &.jorik
        background-image: url('../img/jorik.png')
      &.jeroen
        background-image: url('../img/jeroen.png')
      &.sierd
        background-image: url('../img/sierd.png')
      &.joeri
        background-image: url('../img/joeri.jpeg')
      &.vasco
        background-image: url('../img/vasco.png')
      &.floor
        background-image: url('../img/floor.jpeg')
      &.linde
        background-image: url('../img/linde.png')
      &.max
        background-image: url('../img/max.png')
      &.karsten
        background-image: url('../img/karsten.jpeg')
  a
    &.button-large
      height: 50px
      width: auto
      display: inline-block
      padding: 15px
      line-height: 20px
      background: $accent
      color: $white
      &:hover
        background: $accent-light
        color: $white
      &:focus
        outline: none
  .text-center
    text-align: center

@media (max-width: 768px)
  .container-fluid + .container
    margin-top: 0
    margin-bottom: 0
  .panel
    padding: 0
    .heading
      h2
        font-size: 18px
      &:after
        width: calc(100% + 30px)
        margin: 20px -15px 0 -15px
    .content
      p.lead
        font-size: 16px
        line-height: 22px
      img
        margin-bottom: 30px